@media (max-width: 479px) {
  body{
    letter-spacing: .1em;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
  }
  body.noscroll{
    overflow: hidden;
  }
  header{
    height: 8vh;
    width: 100%;
    display: flex;
    text-align: center;
    border-bottom: .5px solid #000;
    padding-bottom: 20px;
    position: fixed;
    z-index: 9;
    background-color: #fff;
  }
  header img{
    width: 80px;
    height: 50px;
    margin: 10px auto;
    position: fixed;
    right: 50%;
    transform: translateX(50%);
  }
  nav{
    display: none;
  }
  .nav-links{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #fff;
    width: 100%;
    transform: translateX(100%); 
    transition: transform .5s ease-in;
    z-index: 7;
  }
  .nav-links ul{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 50vh auto;
    transform: translateY(-25vh);
    text-align: center;
  }
  .nav-links li{
    list-style: none;
    margin-top: 40px;
    font-size: 20px;
  }
  .nav-links a{
    text-decoration: none;
    color: #000;
  }
  .nav-active{
    transform: translateX(0%);
  }
  .burger{
    position: fixed;
    z-index: 8;
    margin-top: 20px;
    margin-left: 20px;
    right: 10px;
  }
  .burger div{
    width: 25px;
    height: 2px;
    margin: 6px;
    background-color: #000;
    transition: all 0.3s ease;
  }
  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }
  main{
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    padding-top: 20vh;
    text-align: center;
    position: relative;
  }
  .top img{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .about{
    height: 80vh;
    text-align: left;
  }
  .about .inner{
    padding: 30px;
  }
  .about img{
    width: 70%;
    margin-bottom: 30px;
  }
  .about-me h2{
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .about .sub{
    margin-bottom: 20px;
  }
  .about .main-text{
    font-size: 14px;
    line-height: 1.8em;
  }
  .works img{
    width: 60%;
  }
  .contacts {
    margin-top: 30vh;
  }
  .contacts p{
    margin-bottom: 20px;
  }
}
@media (min-width: 480px) {
  body{
    width: 100%;
    height: 90vh;
    margin: auto;
    letter-spacing: .1em;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
  }

  header{
    height: 15vh;
    line-height: 15vh;
    display: flex;
    justify-content: space-between;
    border: none;
  }
  header img{
    width: 180px;
    height: 120px;
    padding-top: 5vh;
    padding-left: 20%;
  }
  .burger{
    display: none;
  }
  nav{
    display: block;
  }
  .nav-links{
    display: none;
  }
  main{
    width: 95%;
    margin: 25px auto;
    padding-top: 10vh;
    display: flex;
    justify-content: space-between;
    position: unset;
  }
  main nav{
    width: 20%;
    text-align: center;
    padding-right: 26px;
    float: left;
  }
  main ul{
    padding-right: 30px;
  }
  main ul li{
    margin-bottom: 40px;
    text-align: right;
  }
  main ul li:hover{
    opacity: 0.5;
  }

  main ul a{
    text-decoration: none;
    color: #000;
  }
  .sec01{
    border-left: 2px solid #555555;
    width: 100%;
    min-height: 80vh;
    margin-right: 100px;
  }
  .top-img{
    width: 85%;
    object-fit: cover;
    transform: rotate(180deg);
    position: unset;
  }
  .top .inner{
    margin-top: 0;
    text-align: right;
  }
  .inner{
    width: 90%;
    margin: 20px auto;
  }
  .sec01 h1{
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    line-height: 20vh;
  }
  .sec01 .main-text{
    line-height: 1.8em;
    margin-top: 30px;
  }
  footer{
    height: 10vh;
  }
  footer p{
    line-height: 10vh;
  }

  /* about */
  .about{
    width: 100%;
    height: 100%;
  }
  .about-me{
    width: 57%;
    margin-left: auto;
  }
  .about img{
    width: 40%;
    height: 40%;
    object-fit: cover;
    margin-bottom: 3%;
  }
  .about h2{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
  }
  .about .sub{
    font-size: 12px;
  }
  .about .main-text{
    font-size: 12px;
  }
  .about .english{
    margin-top: 50px;
    font-size: 14px;
  }

  /* works */
  .works{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .work{
    margin: 24px;
  }
  .works img{
    width: 200px;
    height: 400px;
    object-fit: cover;
  }
  /* contact */
  .contact{
    height: 500px;
    position: relative;
  }
  .contacts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .contacts p{
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 1441px) {
  header{
    padding: 0 10%;
  }
}
